In [2]:
import pandas as pd

df1 = pd.read_csv('albums.csv')
df2 = pd.read_csv('bands.csv')
df3 = pd.read_csv('songs.csv')

df1
#df2.head()
#df3.head()

    id                         name  release_year  band_id
0    1                        Tiara        2018.0        1
1    2             The Great Escape        2010.0        1
2    3                  Mercy Falls        2008.0        1
3    4            Master of Puppets           NaN        2
4    5       ...And Justice for All        1988.0        2
5    6               Death Magnetic        2008.0        2
6    7                 Heliocentric        2010.0        3
7    8                     Pelagial        2013.0        3
8    9              Anthropocentric        2010.0        3
9   10                       Resist        2018.0        4
10  11              The Unforgiving        2011.0        4
11  12                        Enter        1997.0        4
12  13    The Sound of Perseverance        1998.0        5
13  14  Individual Thought Patterns        1993.0        5
14  15                        Human        1991.0        5
15  16              A Storm to Come        2006.0        6
16  17            Break the Silence        2011.0        6
17  18               Tribe of Force        2010.0        6

In [15]:
df2

   id               name
0   1     Seventh Wonder
1   2          Metallica
2   3          The Ocean
3   4  Within Temptation
4   5              Death
5   6          Van Canto
6   7      Dream Theater

In [16]:
df3

      id                     name   length  album_id
0      1                  Arrival  1.50000         1
1      2             The Everones  6.21667         1
2      3           Dream Machines  5.63333         1
3      4        Against the Grain  6.96667         1
4      5               Victorious  4.91667         1
..   ...                      ...      ...       ...
177  178  Water Fire Heaven Earth  3.53333        18
178  179        Master of Puppets  8.38333        18
179  180            Magic Taborea  3.36667        18
180  181                  Hearted  4.00000        18
181  182            Frodo's Dream  3.10000        18

[182 rows x 4 columns]

In [11]:
print (df1.columns)

Index(['id', 'name', 'release_year', 'band_id'], dtype='object')

In [12]:
print(df2.columns)

Index(['id', 'name'], dtype='object')

In [13]:
print(df3.columns)

Index(['id', 'name', 'length', 'album_id'], dtype='object')

In [20]:
df3.isnull().sum()

id          0
name        0
length      0
album_id    0
dtype: int64

In [25]:
df1.isnull().any(axis=1).sum()

1

In [37]:
df1.dropna(subset="release_year", inplace=True)
df1 = df1.reset_index(drop=True)

In [38]:
df1

    id                         name  release_year  band_id
0    1                        Tiara        2018.0        1
1    2             The Great Escape        2010.0        1
2    3                  Mercy Falls        2008.0        1
3    5       ...And Justice for All        1988.0        2
4    6               Death Magnetic        2008.0        2
5    7                 Heliocentric        2010.0        3
6    8                     Pelagial        2013.0        3
7    9              Anthropocentric        2010.0        3
8   10                       Resist        2018.0        4
9   11              The Unforgiving        2011.0        4
10  12                        Enter        1997.0        4
11  13    The Sound of Perseverance        1998.0        5
12  14  Individual Thought Patterns        1993.0        5
13  15                        Human        1991.0        5
14  16              A Storm to Come        2006.0        6
15  17            Break the Silence        2011.0        6
16  18               Tribe of Force        2010.0        6

In [3]:
excel_file = pd.ExcelWriter ('record_company.xlsx')

In [4]:
df1.to_excel(excel_file, sheet_name= 'albums.xlsx', index=False)
df2.to_excel(excel_file, sheet_name= 'bands.xlsx', index=False)
df3.to_excel(excel_file, sheet_name= 'songs.xlsx', index=False)

In [5]:
excel_file.save()

C:\Users\Student\AppData\Local\Temp\ipykernel_10184\900623283.py:1: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  excel_file.save()